body{
  font-family: 'PT Sans',
 sans-serif !important;
 ;
 background-image: url("https://images.unsplash.com/photo-1517999144091-3d9dca6d1e43?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YmxhY2t8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
 background-size: cover;
 width: 100%;
}

*{
  box-sizing: border-box;
}
