.college{
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    margin: 10px;
}
.college > img{
    width: 190px;
}
.school2{
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    margin: 10px;
}
.school2 > img{
    width: 190px;
    height: 137px;
}
.school1{
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
}
.school1 > img{
    width: 190px;
    height: 137px;
}
.container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    
}